//----------------------------------------------------//
// Inputs & Form & Controls														//
//----------------------------------------------------//
fieldset {
  display: block;
  text-align: center;
}

label {
  display: block;
  &:hover {
    cursor: pointer;
  }
}

// Inputs
//----------------------------------------------------//
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select,
.input {
  background-color: #fff;
  border: 1px solid #aaa;
  color: $black;
  font-size: 14px;
  line-height: normal;
  padding: 9px 18px;
  width: 100%;
  display: block;
  transition: all .3s ease-in-out;
  -webkit-appearance: none;
  border-radius: 16px;
  @include placeholderColor(#666);
  &:focus {
    border-color: $black;
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    background-color: #f3f3f3;
  }
}

textarea {
  height: 150px;
}

input[type="file"] {
  display: none;
  & + label {
    display: block;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 25px 15px;
    color: #969696;
    text-align: center;
    border: 1px dashed #c4c4c4;
    transition: .2s ease-in-out;
    &:hover {
      border-color: #696969;
      background: #e9e9e9;
    }
  }
}

//----------------------------------------------------//
// SELECT [INPUT]																			//
//----------------------------------------------------//
select {
  display: block;
  transition: none;
  &:focus {

  }
}

// Buttons
//----------------------------------------------------//
button,
.btn {
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  color: $black;
  vertical-align: top;
  border: 0;
  border-radius: 30px;
  transition: all .4s ease-in-out;
  width: 100%;
  display: block;
  padding: 14px 30px;
  background: $gray;
  box-shadow: 0 10px 4px -7px #eae9e9, 0 3px 0 0 #9b9b9b, 0 0 15px #fff;
  margin-bottom: 4px;
  outline: none;
  &:hover{
    color: $red;
  }
  &:focus,
  &:active{
    outline: none;
    color: #fff;
    background: $red;
    box-shadow: 0 3px 0 0 #911116;
  }
}

// Checkbox
//----------------------------------------------------//
input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  & + label {
    display: inline-block;
    vertical-align: top;
    padding: 2px 0 0 25px;
    position: relative;
    cursor: pointer;
    font-size: $main_font_size;
    width: auto !important;
    margin-bottom: 2px;
    &:before, &:after {
      position: absolute;
      content: '';
    }
    &:before {
      top: calc(50% - 8px);
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #bdc1c8;
      background: #fff;
    }
    &:after {
      top: calc(50% - 6px);
      left: 5px;
      width: 5px;
      height: 9px;
      transform: rotate(40deg);
      border-right: 2px solid $red;
      border-bottom: 2px solid $red;
      opacity: 0;
    }
  }
  &:not(:checked) + label {
    &:before {
    }
  }
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
  &:disabled:checked + label {
    &:before {
    }
  }
  &:disabled:not(:checked) + label {
    &:before {
      background: #eee;
    }
  }
}

// Radio
//----------------------------------------------------//
input[type="radio"] {
  position: absolute;
  left: -9999px;
  & + label {
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 30px;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    width: auto !important;
    &:before, &:after {
      position: absolute;
      content: '';
    }
    &:before {
      top: calc(50% - 9px);
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #bbc0c7;
    }
    &:after {
      width: 10px;
      height: 10px;
      background: $red;
      border-radius: 50%;
      top: calc(50% - 4px);
      left: 5px;
      opacity: 0;
    }
  }
  &:not(:checked) + label {
    &:before {
    }
  }
  &:checked + label {
    &:after {
      opacity: 1;
    }
  }
  &:disabled:checked + label {
    &:before {
    }
  }
  &:disabled:not(:checked) + label {
    &:before {
    }
  }
}