@import 'normalize&reset.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'typography.scss';
@import 'forms.scss';
@import 'responsive.scss';

.menu{
  &__list{
    display: table;
    width: 100%;
    text-align: center;
    @include b(phablet){
      display: block;
    }
    &-item{
      display: table-cell;
      vertical-align: middle;
      @include b(phablet){
        display: block;
      }
    }
  }
  &__link{
    padding: 25px 0;
    color: $black;
    font-size: 14px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    @include b(phablet){
      padding: 13px 0;
    }
    &:hover{
      color: $red;
      border-bottom-color: $red;
    }
  }
}

.logos{
  &__list{
    font-size: 0;
    &-item{
      background: #fefefe;
      display: inline-block;
      vertical-align: middle;
      margin: 1px;
    }
  }
  &__link{
    display: inline-block;
    border: 2px solid transparent;
    &:hover{
      border-color: $red;
    }
  }
  &__image{
    max-height: 76px;
    max-width: 100%;
    margin: auto;
    display: block;
    padding: 10px 25px;
    @include b(mobile){
      max-height: 50px;
      padding: 7px 15px;
    }
    &-overlay{
      display: table;
      width: 146px;
      height: 76px;
      @include b(mobile){
        width: 110px;
        height: 50px;
      }
    }
    &-wrapper{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.article{
  width: 470px;
  position: relative;
  padding-bottom: 16px;
  margin: auto;
  box-shadow: 0 0 22px -5px #ccc;
  @include b(phablet){
    max-width: 470px;
    width: 100%;
    box-shadow: none;
  }
  &:after{
    content: '';
    position: absolute;
    /*fix for old browsers*/
    background: $black;
    background: linear-gradient(to right, $red, $black);
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
  }
  &:hover{
    &:after{
      background: linear-gradient(to right, $black, $red);
    }
  }
  &__image{
    width: 100%;
    height: 242px;
    &-link{
      display: block;
      outline: none;
      &:focus{
        outline: none;
      }
    }
  }
  &__content{
    padding: 24px 24px 0;
  }
  &__title{
    padding-bottom: 11px;
    &-link{
      color: $black;
      outline: none;
      &:focus{
        outline: none;
      }
    }
  }
  &__text{

  }
  &__more{
    color: #929497;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 22px;
    position: relative;
    &:before,
    &:after{
      content: '';
      position: absolute;
      background: #929497;
    }
    &:before{
      right: 4px;
      top: 50%;
      margin-top: -1px;
      width: 10px;
      height: 2px;
    }
    &:after{
      right: 8px;
      height: 10px;
      width: 2px;
      top: 50%;
      margin-top: -5px;
    }
    &-wrapper{
      text-align: right;
      padding: 2px 24px;
    }
  }
  &__time{
    position: absolute;
    top: 18px;
    left: 17px;
    background: $red;
    color: #fff;
    font-size: 12px;
    padding: 9px 8px;
  }
}

.city{
  &__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include b(phablet){
      display: block;
      text-align: center;
    }
    &-item{
      display: inline-flex;
      @include b(phablet){
        display: block;
        padding-bottom: 5px;
      }
    }
  }
  &__link{
    display: inline-block;
    color: #fff;
    border-bottom: 1px solid #fff;
    &:hover,
    &:active{
      color: $red;
      border-bottom-color: $red;
    }
  }
}

.partners{
  &__list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include b(phablet){
      display: block;
      text-align: center;
    }
    &-item{
      display: inline-flex;
      background: #fff;
      @include b(phablet){
        display: inline-block;
        margin-bottom: 4px;
      }
    }
  }
  &__link{
    display: inline-block;
    border: 1px solid transparent;
    &:hover{
      border: 1px solid $red;
    }
  }
  &__image{
    max-height: 44px;
    display: block;
    &-overlay{
      display: table;
      height: 44px;
    }
    &-wrapper{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.header{
  background: #fff;
  font-size: 0;
  &__tel{
    width: 240px;
    padding: 16px 0 14px;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    &-selected{
      &-wrapper{
        border: 1px solid $black;
        padding: 6px 18px;
        border-radius: 18px;
        background: #fff;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          border: 4px solid transparent;
          border-top: 4px solid $black;
          right: 13px;
          top: 50%;
          margin-top: -2px;
        }
        &:hover{
          &:after{
            border-top-color: $red;
          }
        }
      }
      &-city{
        display: inline-block;
        vertical-align: middle;
        width: 60px;
      }
      &-icon{
        background: url("../img/tel.png");
        width: 13px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
      }
      &-number{
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        margin-left: 5px;
      }
    }
    &-item{
      &-wrapper{
        padding: 5px 18px!important;
      }
      &-city{
        display: inline-block;
        vertical-align: middle;
        width: 60px;
        font-size: 14px;
      }
      &-number{
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        margin-left: 5px;
      }
      &-icon{
        background: url("../img/tel.png");
        width: 13px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  &__lang{
    display: inline-block;
    vertical-align: middle;
    padding: 0 7px;
    &-selected{
      display: inline-block;
      &-wrapper{
        background: #fff;
        padding: 4px 18px;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          border: 4px solid transparent;
          border-top: 4px solid $black;
          right: 6px;
          top: 50%;
          margin-top: -2px;
        }
        &:hover{
          &:after{
            border-top-color: $red;
          }
        }
      }
      svg{
        width: 28px;
        height: 20px;
      }
    }
    &-item{
      display: inline-block;
      padding: 0!important;
      &-wrapper{
        padding: 4px 11px;
        text-align: center;
      }
      svg{
        width: 28px;
        height: 20px;
      }
    }
  }
  &__social{
    display: inline-block;
    vertical-align: middle;
    background: $red;
    border-radius: 50px;
    padding: 7px 10px;
    margin-left: 5px;
    &:hover{
      background: $black;
    }
    &-image{
      display: block;
    }
  }
  &__hamburger{
    padding-top: 5px;
    overflow: hidden;
    @include b(desktop){
      display: none;
    }
    @include b(phablet){
      text-align: right;
    }
    &-content{
      @include b(desktop){
        display: block!important;
      }
      @include b(laptop){
        position: absolute!important;
        width: 100%;
        display: none;
        top: 66px;
        left: 0;
        z-index: 2;
        background: #fff;
      }
      @include b(phablet){
        top: 60px;
      }
    }
  }
  &__attr{
    @include b(phablet){
      display: none;
    }
  }
}

/*UI selectmenu customize*/

.ui-selectmenu-icon{
  display: none;
}

.ui-selectmenu-button-open{
  & .header{
    &__tel,
    &__lang{
      &-selected{
        &-wrapper{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 1px solid #fff;
          color: $red;
          &:after{
            border-top-color: $red;
          }
        }
      }
    }
  }
}

.ui-selectmenu-button.ui-button{
  width: auto;
  padding: 0;
  margin: auto;
  background: none;
  border: none;
  display: block;
}

.ui-widget.ui-widget-content{
  border: 1px solid $black;
  border-top-color: #fff;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  &.header__lang-wrapper{
    border: 1px solid #fff;
    border-radius: 0;
  }
}

.ui-widget-content .ui-state-active{
  border: 1px solid transparent;
  background: none;
  color: $red;
}

/* /UI selectmenu customize*/

.logo{
  width: 166px;
  display: block;
  margin-bottom: 2px;
  &__wrapper{
    padding: 12px 0 8px;
  }
  &__slogan{
    font-size: 13px;
  }
}

.slider{
  &__wrapper{
    position: relative;
  }
  &__item{
    position: relative;
    overflow: hidden;
    height: 680px;
    outline: none;
    @include b(tablet){
      height: 400px;
    }
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      left: 0;
      top: 0;
    }
    &-content{
      position: relative;
      top: 50%;
      transform: translate(0, -50%);
      max-width: 972px;
      margin: auto;
      z-index: 2;
      @include b(tablet){
        max-width: 760px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    &-image{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 680px;
      min-width: 100%;
    }
    &-title{
      color: #fff;
      position: relative;
      padding-bottom: 14px;
      margin-bottom: 25px;
      @include b(phablet){
        font-size: 26px;
        margin-bottom: 15px;
        padding-bottom: 10px;
      }
      &:after{
        content: '';
        position: absolute;
        background: #fff;
        width: 110px;
        height: 6px;
        bottom: 0;
        left: 0;
      }
    }
    &-text{
      color: #fff;
      font-size: 20px;
      line-height: 1.45;
      padding-bottom: 72px;
      @include b(tablet){
        font-size: 17px;
        padding-bottom: 30px;
      }
    }
    &-link{
      &-wrapper{
        display: inline-block;
      }
    }
  }
  & .slick-dots{
    position: absolute;
    left: calc(50% + 470px);
    top: 50%;
    margin-top: -29px;
    @include b(tablet){
      left: auto;
      right: 15px;
    }
  }
  &__dots{
    background: #fff;
    padding: 0;
    width: 6px;
    height: 6px;
    margin-left: 3px;
    margin-bottom: 7px;
    box-shadow: none;
    &:active,
    &:hover,
    &:focus{
      background: #fff;
      box-shadow: none;
    }
  }
}

.slick-active{
  .slider{
    &__dots{
      width: 12px;
      height: 12px;
      margin-left: 0;
    }
  }
}

.scroll{
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: 96px;
  width: 20px;
  @include b(tablet){
    display: none;
  }
  &__link{
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #fff;
    position: relative;
    &:hover{
      .scroll{
        &__dot{
          top: 16px;
        }
      }
    }
  }
  &__dot{
    position: absolute;
    width: 1px;
    height: 6px;
    background: #fff;
    left: 50%;
    top: 6px;
    -webkit-animation: fadeOutDown 1.5s;
    animation: fadeOutDown 1.5s;
    animation-play-state: running;
    animation-iteration-count: infinite;
  }
}

.category{
  padding-bottom: 71px;
  @include b(phablet){
    padding-bottom: 30px;
  }
  &__title{
    &-wrapper{
      text-align: center;
      padding: 97px 0;
      @include b(phablet){
        padding: 40px 0;
      }
    }
  }
  &__list{
    &-item{
      padding-bottom: 30px;
    }
  }
}

.cat{
  position: relative;
  overflow: hidden;
  padding-top: 104px;
  &:hover{
    .cat{
      &__title{
        background: $red;
        &-overlay{
          top:0;
          margin-top: 0;
        }
      }
      &__logos{
        opacity: 1;
      }
    }
  }
  &__title{
    background: transparent;
    transition: ease 1s;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 22px;
    padding: 12px;
    color: #fff;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    &-overlay{
      position: absolute;
      width: 100%;
      height: 104px;
      overflow: hidden;
      top: 50%;
      margin-top: -52px;
      transition: ease 1s;
    }
    &-wrapper{
      display: table;
      height: 100%;
      width: 100%;
    }
  }
  &__bg{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__logos{
    position: relative;
    text-align: center;
    padding: 41px 5px;
    min-height: 330px;
    opacity: 0;
    transition: ease 1s;
    @include b(mobile){
      min-height: 200px;
    }
  }
}

.catalog{
  overflow: hidden;
  background: $red;
  background: linear-gradient(to right, $red, $black);
  padding-bottom: 98px;
  @include b(phablet){
    padding-bottom: 40px;
  }
  &__title{
    color: #fff;
    text-align: center;
    padding: 100px 0 83px;
    font-size: 38px;
    @include b(phablet){
      padding: 40px 0;
    }
    @include b(mobile){
      font-size: 25px;
    }
  }
  &__content{
    position: relative;
    padding-bottom: 96px;
    @include b(tablet){
      padding-bottom: 40px;
    }
  }
  &__image{
    width: 685px;
    height: 375px;
    position: absolute;
    right: calc(50% - 35px);
    top: 2px;
    @include b(tablet){
      position: static;
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  &__text{
    padding-left: calc(50% + 84px);
    color: #fff;
    @include b(tablet){
      padding-left: 0;
    }
  }
  &__link{
    padding: 18px 46px;
    &-wrapper{
      display: inline-block;
    }
  }
}

.text-center{
  text-align: center;
}

.video{
  padding: 108px 0 50px;
  @include b(phablet){
    padding: 40px 0 20px;
  }
  &__bg{
    background: url("../img/video_blur.jpg") 50% 50% no-repeat;
    background-size: cover;
    text-align: center;
    padding: 125px 0;
    position: relative;
    @include b(phablet){
      padding: 0;
      background: none;
    }
  }
  video{
    max-width: 830px;
    width: 100%;
    height: auto;
  }
  &__play{
    padding-top: 19px;
    padding-bottom: 19px;
    &:hover{
      .video{
        &__play{
          &-symbol{
            border-left-color: $red;
          }
        }
      }
    }
    &:active,
    &:focus{
      .video{
        &__play{
          &-symbol{
            border-left-color: #fff;
          }
        }
      }
    }
    &--hidden{
      display: none;
    }
    &-wrapper{
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      margin-top: -30px;
      margin-left: -127px;
    }
    &-symbol{
      display: inline-block;
      vertical-align: middle;
      border: 8px solid transparent;
      border-left: 14px solid $black;
      transition: .4s ease;
    }
  }
}

.news{
  padding-bottom: 100px;
  &__title{
    text-align: center;
    padding: 43px 0 74px;
    font-size: 36px;
    @include b(phablet){
      padding-bottom: 40px;
    }
    @include b(mobile){
      font-size: 25px;
    }
    &-wrapper{

    }
  }
  &__slider{
    &-wrapper{
      position: relative;
      padding: 0 84px;
      @include b(phablet){
        padding: 0 20px;
      }
    }
    &-item{

    }
    &-nav{
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 3px solid $black;
      border-left: 3px solid $black;
      top: 50%;
      margin-top: -6px;
      cursor: pointer;
      &:hover{
        border-top-color: $red;
        border-left-color: $red;
      }
      &--prev{
        transform: rotate(-45deg);
        left: 2px;
      }
      &--next{
        transform: rotate(135deg);
        right: 2px;
      }
    }
  }
}

.footer{
  background: $black;
  padding-top: 52px;
  padding-bottom: 40px;
  &__logo{
    &-wrapper{
      padding-bottom: 21px;
      @include b(phablet){
        text-align: center;
      }
    }
  }
  &__city{
    padding-top: 6px;
    padding-bottom: 21px;
  }
  &__partners{
    padding-bottom: 35px;
    &-title{
      color: #fff;
      padding-top: 14px;
      @include b(phablet){
        text-align: center;
        padding-bottom: 10px;
      }
      &-wrapper{

      }
    }
  }
  &__powered{
    color: #777575;
    font-size: 12px;
    a{
      color: #777575;
      text-decoration: underline;
      &:hover{
        color: $red;
        text-decoration: none;
      }
    }
    &-wrapper{
      
    }
  }
}

/*Hamburger customize*/

button.hamburger{
  background: none;
  box-shadow: none;
  @include b(phablet){
    width: auto;
  }
}

/* / Hamburger customize*/