/*mixins*/

@mixin placeholderColor($input-text-color) {
  &::-webkit-input-placeholder {color: $input-text-color;}
  &:-moz-placeholder {color: $input-text-color; opacity: 1;}
  &::-moz-placeholder {color: $input-text-color; opacity: 1;}
  &:-ms-input-placeholder {color: $input-text-color;}
  &:focus:-moz-placeholder {color:transparent; opacity: 1;}
  &:focus::-moz-placeholder {color:transparent; opacity: 1;}
  &:focus::-webkit-input-placeholder {color:transparent;}
  &:focus:-ms-input-placeholder {color:transparent;}
  &:focus::placeholder {color:transparent;}
}

@mixin b($point) {
  @if $point == desktop {
    @media (min-width: 1200px) { @content ; }
  }
  @else if $point == laptop {
    @media (max-width: 1199px) { @content ; }
  }
  @else if $point == tablet {
    @media (max-width: 990px) { @content ; }
  }
  @else if $point == phablet {
    @media (max-width:767px)  { @content ; }
  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content ; }
  }
  @else if $point == mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
      @content ;
    }
  }
}