/*typography*/

*{
  box-sizing: border-box;
}

body {
  font-family: $main_font, $fix_font;
  font-size: $main_font_size;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  line-height: 1.15;
  font-weight: 700;
}

h3 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
  @include b(mobile){
    font-size: 25px;
  }
}

h4 {
  font-size: 26px;
  text-transform: uppercase;
  padding: 0 0 10px;
  line-height: 1.35;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 700;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.4;
}

p {
  padding: 0 0 24px;
  line-height: 1.5;
  margin: 0;
}

hr {
  overflow: hidden;
  height: 1px;
  background: #e9e9e9;
  border: 0;
  margin: 10px 0;
}

q,
blockquote {
  text-align: center;
  display: block;
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}

a {
  color: $red;
  transition: all .4s ease-in-out;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a:hover {
  color: #911116;
  transition: all .4s ease-in-out;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  counter-reset: item;
  li {
    display: block;
    position: relative;
    padding: 0 0 10px 20px;
    &:before {
      content: counters(item, ")") ")";
      counter-increment: item;
      display: inline;
      vertical-align: top;
      font-weight: 500;
      margin: 0 0 0 -20px;
      padding: 0 10px 0 0;
    }
    &:last-child {
      padding: 0 0 0 20px;
    }
  }
}

.upper {
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
}

th {
  background: #ccc;
  text-align: center;
  border: 1px solid #aaa;

}

td, th {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 14px;
}

tr {
  &:first-child {
    td {
      border-top: none;
    }
  }
}

td {
  border: 1px solid #e4e4e4;
}