<!-- partial:header.tpl -->
<!-- partial -->
<section class="slider__wrapper">
    <div class="slider js-slider">
        <a href="#" class="slider__item">
            <img src="images/slider/1.jpg" alt="" class="slider__item-image">
            <div class="slider__item-content">
                <h2 class="slider__item-title">Новая линейка <br>погрузчиков KALMAR</h2>
                <p class="slider__item-text">Компания Kalmar, представила новую линейку погрузчиков для обработки
                    <br>порожних контейнеров на территории контейнерной базы Мюнхена.</p>
                <div class="slider__item-link-wrapper">
                    <button class="btn slider__item-link">Узнать подробнее</button>
                </div>
            </div>
        </a>
        <a href="#" class="slider__item">
            <img src="images/slider/2.jpg" alt="" class="slider__item-image">
            <div class="slider__item-content">
                <h2 class="slider__item-title">Старая линейка</h2>
                <p class="slider__item-text">Компания Kalmar, отставила старую линейку погрузчиков</p>
                <div class="slider__item-link-wrapper">
                    <button class="btn slider__item-link">Узнать подробнее</button>
                </div>
            </div>
        </a>
        <a class="slider__item">
            <img src="images/slider/2.jpg" alt="" class="slider__item-image">
            <div class="slider__item-content">
                <h2 class="slider__item-title">Третий слайд</h2>
                <p class="slider__item-text">Текст третьего слайда<br> Текст третьего слайда<br> Текст третьего слайда<br> Текст третьего слайда<br> Текст третьего слайда<br> Текст третьего слайда<br>
                </p>
                <div class="slider__item-link-wrapper">
                    <button class="btn slider__item-link">Узнать подробнее</button>
                </div>
            </div>
        </a>
        <a href="#" class="slider__item">
            <img src="images/slider/2.jpg" alt="" class="slider__item-image">
            <div class="slider__item-content">
                <h2 class="slider__item-title">Старая линейка</h2>
                <p class="slider__item-text">Компания Kalmar, отставила старую линейку погрузчиков</p>
                <div class="slider__item-link-wrapper">
                    <button class="btn slider__item-link">Узнать подробнее</button>
                </div>
            </div>
        </a>
    </div>
    <div class="scroll">
        <a class="anchor scroll__link" href="#category">
            <span class="scroll__dot"></span>
        </a>
    </div>
</section>
<section class="category" id="category">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 category__title-wrapper">
                <h3 class="category__title">Категории</h3>
            </div>
            <div class="category__content">
                <ul class="category__list">
                    <li class="col-xs-12 col-sm-6 col-lg-4 category__list-item">
                        <div class="cat">
                            <div class="cat__title-overlay">
                                <div class="cat__title-wrapper">
                                    <h4 class="cat__title">Применение <br>в промышленности</h4>
                                </div>
                            </div>
                            <img src="images/cat/1.jpg" alt="" class="cat__bg">
                            <div class="cat__logos">
                                <div class="logos">
                                    <ul class="logos__list">
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/1.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/2.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/3.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/4.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/5.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/6.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-lg-4 category__list-item">
                        <div class="cat">
                            <div class="cat__title-overlay">
                                <div class="cat__title-wrapper">
                                    <h4 class="cat__title">Применение <br>в терминалахПрименение
                                        <br>в терминалахПрименение <br>в терминалахПрименение <br>в терминалахПрименение
                                        <br>в терминалах</h4>
                                </div>
                            </div>
                            <img src="images/slider/1.jpg" alt="" class="cat__bg">
                            <div class="cat__logos">
                                <div class="logos">
                                    <ul class="logos__list">
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/1.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/5.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/6.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-lg-4 category__list-item">
                        <div class="cat">
                            <div class="cat__title-overlay">
                                <div class="cat__title-wrapper">
                                    <h4 class="cat__title">Дополнительная комплектация и шины</h4>
                                </div>
                            </div>
                            <img src="images/cat/3.jpg" alt="" class="cat__bg">
                            <div class="cat__logos">
                                <div class="logos">
                                    <ul class="logos__list">
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/1.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/2.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/3.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/4.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="logos__list-item">
                                            <a href="#" class="logos__link">
                                                <div class="logos__image-overlay">
                                                    <div class="logos__image-wrapper">
                                                        <img src="images/logos/5.png" alt="" class="logos__image">
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="catalog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 catalog__title-wrapper">
                <h3 class="catalog__title">Cкачать каталог техники</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 catalog__content">
                <img src="img/book.png" alt="Каталог техники" class="catalog__image">
                <div class="catalog__text">
                    <p>Мы предлагаем лучшее оборудование для обработки грузов на открытых площадках, в складских комплексах и распределительных центрах.</p>
                    <p>Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики и штабелеры, ричстакеры, погрузчики для обработки контейнеров, терминальные тягачи и тяжеловозы, козловые и портальные крановые установки.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="catalog__link-wrapper">
                    <a href="#" class="btn catalog__link">Скачать в PDF</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="video">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="video__bg">
                    <video id="js-video">
                        <source src="video/cran_fallen.mp4" type="video/mp4">
                        <source src="video/cran_fallen.webm" type="video/webm">
                        Ваш браузер не поддерживает HTML5 видео. Глянуть можно тут:
                        <a href="https://www.youtube.com/watch?v=TzwxJR_bszI">https://www.youtube.com/watch?v=TzwxJR_bszI</a>
                    </video>
                    <div class="video__play-wrapper">
                        <button class="btn video__play" id="js-video-play">
                            <span class="video__play-symbol"></span>
                            Смотреть видео
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="news">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 news__title-wrapper">
                <h3 class="news__title">Новости</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="news__slider-wrapper">
                    <div class="news__slider" id="js-news-slider">
                        <div class="news__slider-item">
                            <article class="article">
                                <a href="#" class="article__image-link">
                                    <img src="images/news/1.jpg" alt="" class="article__image">
                                </a>
                                <div class="article__content">
                                    <a href="#" class="article__title-link">
                                        <h5 class="article__title">Компания Форкс приглашает посетить событие тос европа</h5>
                                    </a>
                                    <p class="article__text">Уважаемые клиенты, в Амстердаме состоится одно из основных событий портовой отрасли - ТОС Европа.</p>
                                </div>
                                <div class="article__more-wrapper">
                                    <a href="#" class="article__more">Узнать больше</a>
                                </div>
                                <time class="article__time" datetime="2017-05-26">26 апреля, 2017</time>
                            </article>
                        </div>
                        <div class="news__slider-item">
                            <article class="article">
                                <a href="#" class="article__image-link">
                                    <img src="images/news/2.jpg" alt="" class="article__image">
                                </a>
                                <div class="article__content">
                                    <a href="#" class="article__title-link">
                                        <h5 class="article__title">KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН</h5>
                                    </a>
                                    <p class="article__text">Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов</p>
                                </div>
                                <div class="article__more-wrapper">
                                    <a href="#" class="article__more">Узнать больше</a>
                                </div>
                                <time class="article__time" datetime="2017-05-26">26 апреля, 2017</time>
                            </article>
                        </div>
                        <div class="news__slider-item">
                            <article class="article">
                                <a href="#" class="article__image-link">
                                    <img src="images/news/2.jpg" alt="" class="article__image">
                                </a>
                                <div class="article__content">
                                    <a href="#" class="article__title-link">
                                        <h5 class="article__title">KALMAR ПОСТАВИТ СЕМЬ RTG КРАНОВ С СИСТЕМОЙ АВТОМАТИЧЕСКОГО УПРАВЛЕНИЯ SMARTPORT В АЛЖИРСКИЙ ПОРТ ОРАН</h5>
                                    </a>
                                    <p class="article__text">Компания Kalmar, входящая в состав корпорации Cargotec, выиграла заказа на семь кранов RTG</p>
                                </div>
                                <div class="article__more-wrapper">
                                    <a href="#" class="article__more">Узнать больше</a>
                                </div>
                                <time class="article__time" datetime="2017-05-26">26 апреля, 2017</time>
                            </article>
                        </div>
                    </div>
                    <span class="news__slider-nav news__slider-nav--prev"></span>
                    <span class="news__slider-nav news__slider-nav--next"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- partial:footer.tpl -->
<!-- partial -->
