<!-- partial:header.tpl -->
<!-- partial -->
<div class="container">
    <div class="row">
        <h1>Template</h1>
        <h2>Новая линейка <br>погрузчиков KALMAR</h2>
        <h3>Категории</h3>
        <h4>Дополнительная <br>комплектация и шины</h4>
        <h5>Компания Форкс приглашает посетить <br>событие тос европа</h5>
        <h6>Аффилированные партнеры:</h6>
        <p>Наше предложение <a href="#">представлено широким</a> модельным
            <strong>рядом техники KALMAR</strong> и JCB: вилочные автопогрузчики,
            <b>электропогрузчики</b>, универсальные погрузчики и штабелеры, ричстакеры, погрузчики для обработки контейнеров, терминальные тягачи и тяжеловозы, козловые и портальные крановые установки.
        </p>
        <p>Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики и штабелеры, ричстакеры</p>
        <blockquote>Наше предложение представлено широким модельным рядом техники KALMAR и JCB: вилочные автопогрузчики, электропогрузчики, универсальные погрузчики</blockquote>
        <hr>
        <ul>
            <li>lorem</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
        </ul>
        <ol>
            <li>lorem</li>
            <li>lorem ipsum</li>
            <li>lorem ipsum</li>
        </ol>
    </div>
    <div class="row">
        <table>
            <thead>
            <tr>
                <th>Заголовок</th>
                <th>1 пункт</th>
                <th>2 пункт</th>
                <th>3 пункт</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Заголовок</td>
                <td>1 пункт</td>
                <td>2 пункт</td>
                <td>3 пункт</td>
            </tr>
            <tr>
                <td>Заголовок</td>
                <td>1 пункт</td>
                <td>2 пункт</td>
                <td>3 пункт</td>
            </tr>
            <tr>
                <td>Заголовок</td>
                <td>1 пункт</td>
                <td>2 пункт</td>
                <td>3 пункт</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <label for="text">Label</label>
        <input type="text" id="text" placeholder="Киев">
        <label for="text2">Label</label>
        <input type="text" id="text2" value="jkfej reihf erh gi">
        <label for="text3">Label</label>
        <input type="checkbox" id="check1">
        <label for="check1">Checkbox</label>
        <input type="checkbox" id="check2" checked>
        <label for="check2">Checkbox</label>
        <input type="checkbox" id="check3" disabled>
        <label for="check3">Checkbox</label>
        <input type="radio" id="check4">
        <label for="check4">Checkbox</label>
        <input type="radio" id="check5" checked>
        <label for="check5">Checkbox</label>
        <select name="" id="text3">
            <option value="1">1</option>
            <option value="2">Два</option>
        </select>
        <div style="background: #000; padding: 20px 0">
            <button>Узнать подробнее</button>
            <a href="#" class="btn">Отправить</a>
        </div>
    </div>
    <div class="row">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a href="#" class="menu__link">О компании</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">Каталог</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">Сервисное обслуживание</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">Медиа центр</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__link">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row" style="background: #000;">
        <div class="logos">
            <ul class="logos__list">
                <li class="logos__list-item">
                    <a href="#" class="logos__link">
                        <div class="logos__image-overlay">
                            <div class="logos__image-wrapper">
                                <img src="images/logos/1.png" alt="" class="logos__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="logos__list-item">
                    <a href="#" class="logos__link">
                        <div class="logos__image-overlay">
                            <div class="logos__image-wrapper">
                                <img src="images/logos/2.png" alt="" class="logos__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="logos__list-item">
                    <a href="#" class="logos__link">
                        <div class="logos__image-overlay">
                            <div class="logos__image-wrapper">
                                <img src="images/logos/3.png" alt="" class="logos__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="logos__list-item">
                    <a href="#" class="logos__link">
                        <div class="logos__image-overlay">
                            <div class="logos__image-wrapper">
                                <img src="images/logos/4.png" alt="" class="logos__image">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <article class="article">
            <img src="images/news/1.jpg" alt="" class="article__image">
            <div class="article__content">
                <h5 class="article__title">Компания Форкс приглашает посетить событие тос европа</h5>
                <p class="article__text">Уважаемые клиенты, в Амстердаме состоится одно из основных событий портовой отрасли - ТОС Европа.</p>
            </div>
            <div class="article__more-wrapper">
                <a href="#" class="article__more">Узнать больше</a>
            </div>
            <time class="article__time" datetime="2017-05-26">26 апреля, 2017</time>
        </article>
    </div>
    <div class="row" style="background: #000;">
        <div class="city">
            <ul class="city__list">
                <li class="city__list-item">
                    <a href="#" class="city__link">Киев</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Одесса</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Днепропетровск</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Харьков</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Львов</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Киев</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Одесса</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Днепропетровск</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Харьков</a>
                </li>
                <li class="city__list-item">
                    <a href="#" class="city__link">Львов</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="background: #000;">
        <div class="partners">
            <ul class="partners__list">
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <div class="partners__image-overlay">
                            <div class="partners__image-wrapper">
                                <img src="images/partners/1.png" alt="" class="partners__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <div class="partners__image-overlay">
                            <div class="partners__image-wrapper">
                                <img src="images/partners/2.png" alt="" class="partners__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <div class="partners__image-overlay">
                            <div class="partners__image-wrapper">
                                <img src="images/partners/3.png" alt="" class="partners__image">
                            </div>
                        </div>
                    </a>
                </li>
                <li class="partners__list-item">
                    <a href="#" class="partners__link">
                        <div class="partners__image-overlay">
                            <div class="partners__image-wrapper">
                                <img src="images/partners/4.png" alt="" class="partners__image">
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- partial:footer.tpl -->
<!-- partial -->
